* {
    font-family: "Hanken Grotesk", sans-serif;
    box-sizing: border-box;
}
main{
    background-image: url('./img/marcaDeAgua.svg');
    background-repeat: no-repeat;
    background-position: center;
    /* min-height: 80vh;
    min-width: 80vw; */
  }

  nav{
    background-color: #293243 ;
  }
  
  footer{
    background-color: #293243 ;
  }
