.btn{
    border: none;
    background-color: none;
}
.btn .btn:focus-visible {

        color: inherit;
        background-color: inherit;
        border-color: inherit;
        outline: inherit;
        box-shadow: none;
}
.button-style {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
.button-style:hover{
    cursor: pointer;
}