.textProductName {
    font-size: 30px;
    font-family: 'Fredoka One', sans-serif;
  }

  .imgCardDetail {
    width: auto;
    height: 500px;
    margin: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
  }

  .boxSmallDetail {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    border-radius: 4px;
    padding: 5px;
    margin-right: 6px;
    background-color: #EBE8E8;
    font-size: 20px;
    font-family: 'Fredoka One', sans-serif;
  }
  
  .boxSmallPriceDetail {
    position: absolute;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 3px;
    padding-right: 5px;
    font-size: 10px;
    font-family: 'Fredoka One', sans-serif;
  }
  