

.styleFilter{

    font-size: 12px;
    font-family: 'Fredoka One', sans-serif;
    display: flex;
    justify-content:center;
    gap:25px;
}

.radioB{
    display: flex;
    gap:3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="radio"] {
    accent-color: #293243;
    width: 20px;
    height: 20px;
}

