.swal2-popup {
    background-color: #f1eeed;
    border-radius: 10px;
    box-shadow: 0 0 10px  #3D5B81;
    background-image: url('../../img/marcaDeAgua.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 
}

button:where(.swal2-styled).swal2-confirm {
    background-color: #3D5B81 !important;
    box-shadow: 0 0 10px  #3D5B81 !important;
}


img:where(.swal2-image){
    height: 100px;
}