.containerMain{
    display: grid;
    height: 100%;
    grid-template-rows: '6% 55% 5% 35% 6%';
    gap: 0;
}


.containerMain > div:not(:nth-last-child(-n+2)) {
    margin: 0;
}

.containerMain > div:nth-last-child(-n+2) {
    margin-bottom: 40px; 
}

@media screen and (max-width: 477px) {

    .cardC{
        border: 0;
    }

}